.chat-form {
    background-color: rebeccapurple;
    height: 90%;
}

.chat-box {
    color: white;
}
  
  button {
    cursor: pointer;
    padding: 12px;
    background: grey;
    border: none;
    color: white;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: rgb(94, 94, 94);
  }
  
  button:disabled {
    cursor: default;
    background: #7c5cbf94;
  }
  
  input {
    color: black;
    width: 70%;
    height: 25px;
  }
  
  .chat-form-submit {
    background-color: rgb(177, 177, 177);
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  